In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('play_tennis.csv')

In [3]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
data.drop(columns=['day'],inplace=True)

In [5]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [6]:
#Problem 

#Outlook is sunny , temp=Hot, Humidity=high,wind=weak
3Play or not

SyntaxError: cannot assign to comparison (3265569796.py, line 3)

In [ ]:
#cOMPARE AND DECIDE USING THE MAXIMUM A POSTERIORI

In [ ]:
P(YES)
P(No)

In [7]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [11]:
py=9/14
pn=5/14

In [13]:
print(py,pn)

0.6428571428571429 0.35714285714285715

In [14]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [16]:
pon=0
prn=2/5
psn=3/5

poy=4/9
pry=3/9
psy=2/9

In [17]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [20]:
PcoolNo=1/5
PhotNo=2/5
PMildNo=2/5

pcoolyes=3/9
photyes=2/9
pmildyes=4/9

In [21]:
#Humidity
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [22]:
Phighno=4/5
pnormalno=1/5

Phighyes=3/9
pnormalyes=6/9

In [23]:
#Wind
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [24]:
pstrongno=3/5
pweakno=2/5

pstrongyes=3/9
pweakyes=6/9

In [25]:
# Outlook=Sunny,temp=Hot,humity=high,wind=weak

pyes=py*psy*photyes*Phighyes*pweakyes

In [26]:
print(pyes)

0.007054673721340388